USE [master] 
GO
/****** Object:  Database [Transporte_Bonilla]    Script Date: 6/14/2019 1:48:53 AM ******/
CREATE DATABASE [Transporte_Bonilla]  
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Transporte_Bonilla', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Transporte_Bonilla.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Transporte_Bonilla_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Transporte_Bonilla_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Transporte_Bonilla].[dbo].[sp_fulltext_database] @action = 'enable'   
end
GO
USE [Transporte_Bonilla]
GO
/****** Object:  Table [dbo].[Acceso]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acceso](
	[Codigo_Acceso] [int] NOT NULL,
	[Tipo_Acceso] [varchar](20) NOT NULL,
	[Descripcion_Acceso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Acceso] PRIMARY KEY CLUSTERED 
(
	[Codigo_Acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Codigo_Categoria] [varchar](10) NOT NULL,
	[Nombre_Categoria] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Codigo_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Codigo_Cliente] [varchar](20) NOT NULL,
	[Nombre_Cliente] [varchar](50) NOT NULL,
	[Direccion_Cliente] [varchar](50) NOT NULL,
	[Telefono_Cliente] [int] NOT NULL,
	[Correo_Cliente] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Codigo_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recibos]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibos](
	[Num_Recibo] [int] NOT NULL,
	[Numero_Cuota] [int] NOT NULL,
	[Codigo_Contrato] [varchar](20) NOT NULL,
	[Codigo_Documento] [varchar](20) NOT NULL,
	[Fecha_Recibo] [date] NOT NULL,
	[Monto] [money] NOT NULL,
	[Numero_CAI] [varchar](20) NOT NULL, 
 CONSTRAINT [PK_Recibos] PRIMARY KEY CLUSTERED 
(
	[Num_Recibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[Codigo_Contrato] [varchar](20) NOT NULL,
	[Cliente_Contrato] [varchar](20) NOT NULL,
	[Tipo_Contrato] [int] NOT NULL,
	[Fecha_Inicio_Contrato] [date] NOT NULL,
	[Monto_Contrato] [money] NOT NULL, 
	[Fecha_Vencimiento] [date] NOT NULL,
	[Estado_Contrato] [varchar](3) NOT NULL,
	[Cod_Documento] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Contratos] PRIMARY KEY CLUSTERED 
(
	[Codigo_Contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[Codigo_Documento] [varchar](20) NOT NULL,
	[Nombre_Documento] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Documentos] PRIMARY KEY CLUSTERED 
(
	[Codigo_Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos_Relacion]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos_Relacion](
	[Codigo_Documento] [varchar](20) NOT NULL,
	[Identidad_Empleado] [varchar](20) NOT NULL,
	[Estado_Documento] [varchar](3) NOT NULL,
	[Documento] [varchar](100) NOT NULL,
	[Fecha_Emision] [date] NOT NULL,
	[Fecha_Vencimiento] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Identidad_Empleado] [varchar](20) NOT NULL,
	[Nombre_Empleado] [varchar](100) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Genero] [varchar](10) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Puesto_Empleado] [int] NOT NULL,
	[Salario] [money] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Identidad_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Codigo_Estado] [varchar](3) NOT NULL,
	[Codigo_Categoria] [varchar](10) NOT NULL,
	[Nombre_Estado] [varchar](20) NOT NULL,
	[Descripcion_Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Codigo_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[Cod_Evento] [varchar](20) NOT NULL,
	[Nombre_Evento] [varchar](20) NOT NULL,
	[Motivo_Evento] [varchar](20) NOT NULL,
	[Descripcion_Evento] [varchar](20) NOT NULL,
	[Inicio_Evento] [date] NOT NULL,
	[Conclusion_Evento] [date] NOT NULL,
	[Estado_Evento] [varchar](3) NOT NULL,
	[Responsable_Evento] [varchar](20) NOT NULL,
	[Vehiculo_Evento] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[Cod_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimientos]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimientos](
	[Codigo_Mantenimiento] [int] NOT NULL,
	[Tipo_Mantenimiento] [int] NOT NULL,
	[Fecha_Mantenimiento] [date] NOT NULL,
	[Codigo_Vehiculo] [varchar](20) NOT NULL,
	[Costo_Mantenimiento] [money] NOT NULL, 
	[Estado_Mantenimiento] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Mantenimientos] PRIMARY KEY CLUSTERED 
(
	[Codigo_Mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Codigo_Perfil] [int] NOT NULL,
	[Nivel_Acceso] [int] NOT NULL,
    [Nombre_Perfil] [varchar](20) NOT NULL,
	[Descripcion_Perfil] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[Codigo_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puesto]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puesto](
	[Codigo_Puesto] [int] NOT NULL,
	[Nombre_Puesto] [varchar](20) NOT NULL,
	[Descripcion_Puesto] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Puesto] PRIMARY KEY CLUSTERED 
(
	[Codigo_Puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[Codigo_Ruta] [varchar](20) NOT NULL,
	[Nombre_Ruta] [varchar](20) NOT NULL,
	[Descripcion_Ruta] [varchar](20) NOT NULL,
	[Codigo_Contrato] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Rutas] PRIMARY KEY CLUSTERED 
(
	[Codigo_Ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Mantenimientos]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Mantenimientos](
	[Codigo_Tipo_Mantenimiento] [int] NOT NULL,
	[Nombre_Mantenimiento] [varchar](20) NOT NULL,
	[Descripcion_Mantenimiento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_Mantenimientos] PRIMARY KEY CLUSTERED 
(
	[Codigo_Tipo_Mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoContrato]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoContrato](
	[Cod_Contrato] [int] NOT NULL,
	[Tipo_Contrato] [varchar](20) NOT NULL,
	[Descripcion_Contrato] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoContrato] PRIMARY KEY CLUSTERED 
(
	[Cod_Contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Codigo_Empleado] [varchar](20) NOT NULL,
	[Nombre_Usuario] [varchar](50) NOT NULL,
	[Contrasena_Usuario] [varchar](50) NOT NULL,
	[Perfil_Acceso] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Nombre_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Codigo_Vehiculo] [varchar](20) NOT NULL,
	[Tipo_Vehiculo] [varchar](20) NOT NULL,
	[Anio_Vehiculo] [int] NOT NULL,
	[Marca_Vehiculo] [varchar](20) NOT NULL,
	[Modelo_Vehiculo] [varchar](20) NOT NULL,
	[Capacidad_Vehiculo] [int] NOT NULL,
	[Transmision_Vehiculo] [varchar](20) NOT NULL,
	[Combustible_Vehiculo] [varchar](20) NOT NULL,
	[Color_Vehiculo] [varchar](20) NOT NULL,
	[Anio_Adquisicion] [int] NOT NULL,
	[Estado_Vehiculo] [varchar](3) NOT NULL,
	[Emision_Permiso] [date] NOT NULL,
	[Vencimiento_Permiso] [date] NOT NULL,
	[Responsable_Vehiculo] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED  
(
	[Codigo_Vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos_Rutas]    Script Date: 6/14/2019 1:48:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos_Rutas](
	[Codigo_Ruta] [varchar](20) NOT NULL,
	[Codigo_Vehiculo] [varchar](20) NOT NULL,
	[Horario_Salida] [time](7) NOT NULL,
	[Horario_Entrada] [time](7) NOT NULL
) ON [PRIMARY]
GO
--ALTER TABLE [dbo].[Contabilidad]  WITH CHECK ADD  CONSTRAINT [FK_Contabilidad_Contabilidad] FOREIGN KEY([Cod_Registro_Contable])
--REFERENCES [dbo].[Contabilidad] ([Cod_Registro_Contable])
--GO
--ALTER TABLE [dbo].[Contabilidad] CHECK CONSTRAINT [FK_Contabilidad_Contabilidad]
--GO
--ALTER TABLE [dbo].[Contabilidad]  WITH CHECK ADD  CONSTRAINT [FK_Contabilidad_Empleado] FOREIGN KEY([Empleado_Responsable])
--REFERENCES [dbo].[Empleado] ([Identidad_Empleado])
--GO
--ALTER TABLE [dbo].[Contabilidad] CHECK CONSTRAINT [FK_Contabilidad_Empleado]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Contratos_Cliente] FOREIGN KEY([Cliente_Contrato])
REFERENCES [dbo].[Cliente] ([Codigo_Cliente])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_Contratos_Cliente]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Contratos_Estado] FOREIGN KEY([Estado_Contrato])
REFERENCES [dbo].[Estado] ([Codigo_Estado])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_Contratos_Estado]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Contratos_TipoContrato] FOREIGN KEY([Tipo_Contrato])
REFERENCES [dbo].[TipoContrato] ([Cod_Contrato])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_Contratos_TipoContrato]
GO
ALTER TABLE [dbo].[Documentos_Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Relacion_Documentos] FOREIGN KEY([Codigo_Documento])
REFERENCES [dbo].[Documentos] ([Codigo_Documento])
GO
ALTER TABLE [dbo].[Documentos_Relacion] CHECK CONSTRAINT [FK_Documentos_Relacion_Documentos]
GO
ALTER TABLE [dbo].[Documentos_Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Relacion_Empleado] FOREIGN KEY([Identidad_Empleado])
REFERENCES [dbo].[Empleado] ([Identidad_Empleado])
GO
ALTER TABLE [dbo].[Documentos_Relacion] CHECK CONSTRAINT [FK_Documentos_Relacion_Empleado]
GO
ALTER TABLE [dbo].[Documentos_Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Relacion_Estado] FOREIGN KEY([Estado_Documento])
REFERENCES [dbo].[Estado] ([Codigo_Estado])
GO
ALTER TABLE [dbo].[Documentos_Relacion] CHECK CONSTRAINT [FK_Documentos_Relacion_Estado]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Puesto] FOREIGN KEY([Puesto_Empleado])
REFERENCES [dbo].[Puesto] ([Codigo_Puesto])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Puesto]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [FK_Estado_Categoria] FOREIGN KEY([Codigo_Categoria])
REFERENCES [dbo].[Categoria] ([Codigo_Categoria])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [FK_Estado_Categoria]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Empleado] FOREIGN KEY([Responsable_Evento])
REFERENCES [dbo].[Empleado] ([Identidad_Empleado])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Empleado]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Estado] FOREIGN KEY([Estado_Evento])
REFERENCES [dbo].[Estado] ([Codigo_Estado])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Estado]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Vehiculos] FOREIGN KEY([Vehiculo_Evento])
REFERENCES [dbo].[Vehiculos] ([Codigo_Vehiculo])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Vehiculos]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Estado] FOREIGN KEY([Estado_Mantenimiento])
REFERENCES [dbo].[Estado] ([Codigo_Estado])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Estado]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Tipo_Mantenimientos] FOREIGN KEY([Tipo_Mantenimiento])
REFERENCES [dbo].[Tipo_Mantenimientos] ([Codigo_Tipo_Mantenimiento])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Tipo_Mantenimientos]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Vehiculos] FOREIGN KEY([Codigo_Vehiculo])
REFERENCES [dbo].[Vehiculos] ([Codigo_Vehiculo])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Vehiculos]
GO
ALTER TABLE [dbo].[Perfiles]  WITH CHECK ADD  CONSTRAINT [FK_Perfiles_Acceso] FOREIGN KEY([Nivel_Acceso])
REFERENCES [dbo].[Acceso] ([Codigo_Acceso])
GO
ALTER TABLE [dbo].[Perfiles] CHECK CONSTRAINT [FK_Perfiles_Acceso]
GO
ALTER TABLE [dbo].[Rutas]  WITH CHECK ADD  CONSTRAINT [FK_Rutas_Contratos] FOREIGN KEY([Codigo_Contrato])
REFERENCES [dbo].[Contratos] ([Codigo_Contrato])
GO
ALTER TABLE [dbo].[Rutas] CHECK CONSTRAINT [FK_Rutas_Contratos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleado] FOREIGN KEY([Codigo_Empleado])
REFERENCES [dbo].[Empleado] ([Identidad_Empleado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfiles] FOREIGN KEY([Perfil_Acceso])
REFERENCES [dbo].[Perfiles] ([Codigo_Perfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfiles]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Empleado] FOREIGN KEY([Responsable_Vehiculo])
REFERENCES [dbo].[Empleado] ([Identidad_Empleado])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Empleado]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Estado] FOREIGN KEY([Estado_Vehiculo])
REFERENCES [dbo].[Estado] ([Codigo_Estado])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Estado]
GO
ALTER TABLE [dbo].[Vehiculos_Rutas]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Rutas_Rutas] FOREIGN KEY([Codigo_Ruta])
REFERENCES [dbo].[Rutas] ([Codigo_Ruta])
GO
ALTER TABLE [dbo].[Vehiculos_Rutas] CHECK CONSTRAINT [FK_Vehiculos_Rutas_Rutas]
GO
ALTER TABLE [dbo].[Vehiculos_Rutas]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Rutas_Vehiculos] FOREIGN KEY([Codigo_Vehiculo])
REFERENCES [dbo].[Vehiculos] ([Codigo_Vehiculo])
GO
ALTER TABLE [dbo].[Vehiculos_Rutas] CHECK CONSTRAINT [FK_Vehiculos_Rutas_Vehiculos]
GO 

ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Codigo_Contrato] FOREIGN KEY([Codigo_Contrato])
REFERENCES [dbo].[Contratos] ([Codigo_Contrato])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Codigo_Contrato]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Codigo_Documento] FOREIGN KEY([Codigo_Documento])
REFERENCES [dbo].[Documentos] ([Codigo_Documento])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Codigo_Documento]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Cod_Documento] FOREIGN KEY([Cod_Documento])
REFERENCES [dbo].[Documentos] ([Codigo_Documento])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_Cod_Documento]
GO

USE [master]
GO

--Drop Database [Transporte_Bonilla]