<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="SetupWithSQLDB.Properties.Settings.Transporter_Bonilla" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Data\Transporte_Bonilla.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
